@font-face {
	font-family: montserrat;
	src: url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: montserrat;
	src: url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: koho;
	src: url("/fonts/koho-bold-webfont.woff2") format("woff2"), url("/fonts/koho-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
:root {
--white: #fff
}
.violet {
	--text: rgba(255 255 255 / 87%);
	--text-title: #ffde59;
	--text-link: var(--text-title);
	--bg-primary: #422e43;
	--bg-secondary: #8d80ad;
}

.dark {
	--text: rgba(255 255 255 / 87%);
	--text-title: #fff;
	--text-link: #c38fff;
	--bg-primary: #121212;
	--bg-secondary: #282828;
}

.blue {
	--text: rgb(214, 210, 196);
	--text-title: #e2e2e2;
	--text-link: #ecb365;
	--bg-primary: #04293a;
	--bg-secondary: #063a52;
}

body {
	text-rendering: optimizeLegibility;
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box
}

a,
button { cursor: pointer }

article a {
	color: var(--text-link);
	text-underline-offset: 4px;
}

nav a,
article h2 { font-size: 1.5em }

nav a:hover,
.nuxt-link-exact-active { color: var(--text-link) }

#menu li + li { border-top: 2px solid hsla(0,0%,100%,.2) }

article ul {
	padding-left: 0;
	list-style-type: none;
}

article li + li { margin-top: 10px }

article li:before {
	content: "-";
	margin-right: 5px
}

svg,
svg path { fill: var(--white) }

@media screen and (max-width: 1000px) {
	main,
	nav { width: calc(100vw - 48px) }
	#myPic { height: 300px }
}
@media screen and (min-width: 1000px) {
	main,
	nav { width: calc(100vw - 56px) }
	#myPic {
        clip-path: polygon(28% 0, 100% 30%, 58% 100%, 0px 88%, 20% 0);
        height: 90vh;
    }
}