@font-face {
  font-family: montserrat;
  src: url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: montserrat;
  src: url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: koho;
  src: url("/fonts/koho-bold-webfont.woff2") format("woff2"), url("/fonts/koho-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --light: rgba(255 255 255 / 87%);
  --violet2: #70688a;
}

.violet {
  --bg-primary: #422e43;
  --bg-secondary: var(--violet2);
  --text: var(--light);
  --text-title: #ffde59;
  --text-link: var(--text-title);
}

.dark {
  --bg-primary: #121212;
  --bg-secondary: #282828;
  --text: var(--light);
  --text-title: var(--white);
  --text-link: #c38fff;
}

.blue {
  --bg-primary: #04293a;
  --bg-secondary: #063a52;
  --text: rgb(214, 210, 196);
  --text-title: #e2e2e2;
  --text-link: #ecb365;
}

.white {
  --bg-primary: #f2f2f2;
  --bg-secondary: var(--violet2);
  --text: rgba(0, 0, 0, .87);
  --text-title: #000;
  --text-link: #810ca8;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  width: 100vw;
}

a,
button {
  cursor: pointer;
}

.font-montserrat {
  font-family: montserrat;
}

.font-koho,
.text-title {
  font-family: koho;
}

strong {
  font-weight: 700;
}

.bg-primary {
  background-color: var(--bg-primary);
}

article pre,
.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-title {
  color: var(--text-title);
  font-size: clamp(2em, 3em, 7vw);
  line-height: 1.1;
}

.text-content,
article h2 a,
article h3 a {
  color: var(--text);
}

.text-content {
  line-height: 1.5;
}

.text-link,
article a,
nav a:hover,
.nuxt-link-exact-active {
  color: var(--text-link);
}

nav a,
article h2 {
  font-size: 1.5em;
}

#articleDescription {
  font-size: 1.25em;
}

#menu li + li {
  border-top: 2px solid hsla(0, 0%, 100%, .2);
}

.false:not(button) {
  display: none;
}

main {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

article {
  a {
    color: var(--text-link);
    text-underline-offset: 4px;
  }

  h2 {
    margin: 2.4rem 0 0;
    line-height: 1.3;
  }

  h2,
  h3 {
    a {
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    & + li {
      margin-top: 10px;
    }

    &:before {
      content: "-";
      margin-right: 5px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      text-align: left;
    }
  }

  pre {
    border-radius: .6rem;
    color: var(--light);
    margin: 1rem 0;
    max-width: 100%;
    padding: 1rem;
    overflow-x: scroll;

    &,
    code {
      display: block;
    }
  }
}

aside#menubar {
  min-width: 48px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  button,
  a {
    &:hover {
      color: var(--white);

      svg,
      svg path {
        fill: var(--white);
      }
    }

    &:not(:hover) {
      color: var(--light);

      svg {
        &,
        path {
          fill: var(--light);
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  main {
    padding-right: 1rem;
    padding-top: 5rem;
  }

  aside#menubar {
    height: 48px;
    width: 100vw;
  }

  #buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1rem;
  }

  #accessibility {
    background-color: var(--bg-secondary);
    border-top: 2px solid rgba(255, 255, 255, .2);
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: 48px;
    width: 100vw;
  }
}

@media screen and (min-width: 551px) {
  main {
    padding-right: 85px;
    padding-top: 2rem;
  }

  aside#menubar {
    height: 100vh;
    text-align: center;
    width: 48px;
  }

  #accessibility {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  #bigPhoto {
    border-radius: 50%;
    height: 200px;
    margin: 0 auto 1.5rem;
    overflow: hidden;
    width: 200px;
  }

  #home {
    .max-w-prose {
      margin: 0 auto;
    }
  }

  #articleDescription {
    font-size: 1.08em;
  }
}

@media screen and (min-width: 1000px) {
  #home {
    display: grid;
    height: 90vh;
    overflow: hidden;
  }

  #bigPhoto {
    position: fixed;
    top: 0;
    left: 0;
  }

  #bigPhoto {
    height: 100vh;

    img {
      clip-path: polygon(28% 0, 100% 30%, 58% 100%, 0px 88%, 20% 0);
    }
  }

  #articleDescription {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .photoSide {
    padding-left: 300px;
  }

  #bigPhoto {
    width: 310px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .photoSide {
    padding-left: 40vw;
  }

  #bigPhoto {
    width: 38vw;
  }
}

@media screen and (min-width: 1300px) {
  .photoSide {
    padding-left: 600px;
  }

  #bigPhoto {
    width: 550px;
  }
}
