:root {
	--l87: rgba(255 255 255 / 87%);
	--l60: rgba(255 255 255 / 60%);
	--l20: rgba(255 255 255 / 20%);
	--bg: #2e3858;
	--green: #7effe1
}
*{margin:0;padding:0}
*,:after,:before{box-sizing:border-box}
body{
	min-height: 100vh;
	background-color: rgb(3 6 27);
	overflow-x: hidden;
	font: 400 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
#logo a,
#menu a,
#lang { font-weight: 700 }

.block a,
#lang,
a.btn { text-decoration: none }

body,
.tw,
.tw a,
.three h2 { color: var(--l87) }

.summary,
.published,
.tech,
#posts.three .content div { color: var(--l60) }

.tc { text-align: center }

.container {
	max-width: 1440px;
	width: calc(100vw - 4rem)
}

.mxa {
	margin-left: auto;
	margin-right: auto
}

main {
	& a,
	& #posts.three li:hover h2 { color: var(--green) }
	& li + li { margin-top: 5px }
}

p,
li { line-height: 1.5 }

p + p,
p + ul,
h2 + p { margin-top: 15px }

p + h2,
ul + h2,
h2 + ul,
h2 + a { margin-top: 1.5rem }

#body ul { margin-left: 18px }

.trf { transform: skewY(-2deg) }

.block li,
.block a,
#posts li,
picture,
img { display: block }

ul.grid li a,
img,
picture {
	width: 100%;
	height: 100%;
}

img { object-fit: cover }

.hidden { display: none }

.grid { display: grid }

.fix { position: fixed }

.inl {
	display: inline-block;
	vertical-align: top
}

.abs { position: absolute }

.up { text-transform: uppercase }

#logo { padding: 13px 0 13px 15px }

#menu {
	z-index: 500;
	background-color: var(--bg);
	& a { padding: 10px 15px }
	& li + li { border-top: 1px solid var(--l20) }
}

#lang {
	right: 65px;
	font-size: 1.2rem;
	z-index: 333
}

.grid.cell { place-content: center }

.summary,
#itsMe p { line-height: 1.3 }

#head {
	max-width: 600px;
	width: 90%;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px ridge var(--l20);
	&.page,
	&.list {
		& h1 {
			font-size: clamp(2rem, 2.6rem, 10vw);
			line-height: 1.1
		}
	}
	&.blog h1 {
		font-size: clamp(1.8rem, 2.4rem, 7vw);
		line-height: 1.3
	}
	& h1 { margin-bottom: 1rem }
	& .summary {
		font-size: 1.3rem;
		max-width: 500px
	}
	& img {
		width: 100%;
		height: 100%;
		border: 3px solid var(--l60);
		border-radius: 50%
	}
	& picture {
		width: 200px;
		height: 200px;
		margin-bottom: 1.5rem
	}
}

#article {
	& #body { max-width: 750px }
	& h2 {
		font-size: clamp(1.6rem, 2.2rem, 8vw);
		margin-bottom: 1.5rem
	}
	& h3 {
		font-size: 1.4rem;
		margin: 1.5rem 0 1rem
	}
	& blockquote {
		font-size: 1rem;
		background: var(--bg);
		border: 1px solid var(--l20);
		padding: 1rem;
		margin: 1rem 0;
		& p {
			&:first-child { font-style: italic }
		}
		& footer {
			font-size: .9rem;
			color: var(--l60);
			margin-top: 10px
		}
	}
}

#profile #body { max-width: 666px }

#posts.three {
	& a {
		width: 100%;
		max-width: 469px;
		padding: 1.5rem;
		box-shadow: 0 3px 5px rgba(0,0,0,.18)
	}
	& .content {
		margin: 10px 0
	}
	& .content {
		transform: skewY(2deg);
	}
	& h2 {
		font-size: clamp(1.2rem,1.4rem,6vw);
		line-height: 1.3;
		max-width: 80%;
		margin: 0 auto 10px;
	}
	& li {
		&:hover {
			border-color: var(--green)
		}
	}
}

ul.grid {
	& a,
	& img {
		width: 100%;
		height: 100%
	}
	& a {
		border: 1px solid #bb86fc;
		background-color: var(--bg)
	}
	& img { object-fit: cover }
}

pre {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1rem;
	margin: 15px 0;
	border-left: 6px solid #bb86fc;
	margin-left: -6px;
	width: calc(100% + 6px);
	background-color: #27242c
}

.toggle {
	height: 48px;
	&.menu {
		right: 15px;
		z-index: 666;
		border: 0;
		background-color: transparent;
		fill: var(--l87)
	}
	&#lang { width: 48px }
}

a.btn {
	padding: 6px 25px;
	border: 1px solid var(--l60);
	&:hover {
		color: #000;
		background-color: var(--green)
	}
}

.mt { margin-top: 3rem }
.mb { margin-bottom: 3rem }

@media screen and (min-width:751px){
	.toggle { top: 15px }
	#menu {
		top: 0;
		right: 0;
		height: 100vh;
		width: 300px;
		align-content: center;
		justify-content: center;
		& ul { width: 200px }
	}
	.three {
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit,minmax(30ch,1fr))
	}
	#logo,
	#lang { position: absolute }
	#logo {
		top: 2px;
		writing-mode: vertical-lr;
		text-orientation: mixed
	}
}

@media screen and (max-width:750px){
	#logo,
	#lang {
		position: fixed;
		z-index: 900
	}
	#logo,
	.toggle { top: 0 }
	#openMenu {
		background-color: var(--bg);
		left: 0;
		width: 100%;
		box-shadow: 0 2px 5px 0 rgba(0 0 0 / 75%);
		text-align: right;
		padding: 0 15px
	}
	.toggle { z-index: 800 }
	#menu {
		top: 48px;
		left: 0;
		width: 100%;
		text-align: left
	}
	main { margin-top: 6rem }
	.three li + li { margin-top: 1rem }
}

@media screen and (min-width:400px){
	ul#gallery {
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit,minmax(30ch,1fr))
	}
}

@media screen and (max-width:399px){
	ul#gallery li + li { margin-top: 1rem }
}

@media screen and (max-width:300px){
	#logo { display: none }
}

#socialmedia {
	width: 80%;
	& a {
		width: 48px;
		height: 48px;
		fill: var(--l60);
		align-content: center;
		justify-content: center;
		&:hover {
			background-color: #000;
			fill: #fff
		}
	}
}

@media screen and (min-width:810px) and (min-height:600px){
	#socialmedia {
		height: 100vh;
		width: 48px;
		position: fixed;
		top: 0;
		left: 10px;
		z-index: 666;
		display: grid;
		align-content: center;
		justify-content: center
	}
}

@media screen and (max-width:809px), (max-height:599px){
	#socialmedia {
		position: relative;
		margin-top: 3rem;
		margin-bottom: .5px;
		& li { margin:0 }
		& a {
			border-radius: 50%;
			margin: 3px;
		}
	}
}