:root {
	--l87: rgba(255 255 255 / 87%);
	--l60: rgba(255 255 255 / 60%);
	--l20: rgba(255 255 255 / 20%);
	--bg: #2e3858;
	--green: #7effe1
}
*{margin:0;padding:0}
*,:after,:before{box-sizing:border-box}
body{
	min-height: 100vh;
	background-color: rgb(3 6 27);
	overflow-x: hidden;
	font: 400 18px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
#logo a,
#menu a,
#lang,
li .pub { font-weight: 700 }

#logo a,
.block a,
#lang,
a.btn { text-decoration: none }

body,
.tw,
.tw a,
.three h2 { color: var(--l87) }

.summary,
.published,
.tech,
#posts.three .content div { color: var(--l60) }

.tc { text-align: center }

.block li,
.block a,
#posts li,
picture,
img { display: block }

img { object-fit: cover }

.grid,
.cell { display: grid }

.abs { position: absolute }

.up { text-transform: uppercase }

.cell {
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center
}

.container { max-width: 1440px }

.mxa {
	margin-left: auto;
	margin-right: auto
}

main {
	& p a,
	& li a,
	& .container.pb li:hover h2 { color: var(--green) }
	& .container.pb {
		& h2 { font-size: 1.1rem }
		&:not(.grid){
			& li + li { margin-top: 5px }
		}
		& li:hover h2 { color: var(--green) }
	}
}

p,
li { line-height: 1.5 }

p + p,
p + ul,
h2 + p { margin-top: 15px }

p + h2,
ul + h2,
h2 + ul,
h2 + a { margin-top: 1.5rem }

#body ul { margin-left: 18px }

.trf { transform: skewY(-2deg) }

ul.grid li a,
img,
picture {
	width: 100%;
	height: 100%;
}

#head {
	max-width: 600px;
	width: 90%;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px ridge var(--l20);
	&.page,
	&.list {
		& h1 {
			font-size: clamp(2rem, 2.6rem, 10vw);
			line-height: 1.1
		}
	}
	&.blog h1 {
		font-size: clamp(1.8rem, 2.4rem, 7vw);
		line-height: 1.3
	}
	& h1 { margin-bottom: 1rem }
	& .summary {
		font-size: 1.3rem;
		max-width: 500px
	}
	& img {
		width: 100%;
		height: 100%;
		border: 3px solid var(--l60);
		border-radius: 50%
	}
	& picture {
		width: 200px;
		height: 200px;
		margin-bottom: 1.5rem
	}
}

#article {
	& #body { max-width: 750px }
	& h2 {
		font-size: clamp(1.6rem, 2.2rem, 8vw);
		margin-bottom: 1.5rem
	}
	& h3 {
		font-size: 1.4rem;
		margin: 1.5rem 0 1rem
	}
	& blockquote {
		font-size: 1rem;
		background: var(--bg);
		border: 1px solid var(--l20);
		padding: 1rem;
		margin: 1rem 0;
		& p {
			&:first-child { font-style: italic }
		}
		& footer {
			font-size: .9rem;
			color: var(--l60);
			margin-top: 10px
		}
	}
}

#profile #body { max-width: 666px }

#posts.three {
	& .content {
		grid-template-columns: 70px 1fr;
		grid-gap: 1rem;
		fill: var(--l87)
	}
	& aside {
		grid-template-rows: 70px 38px 38px;
		grid-gap: .5rem
	}
	& .pub {
		background-color: var(--bg)
	}
	& .bor {
		border: 1px solid var(--l20);
		padding: 10px 0
	}
	& .bgd { background-color:#142237 }
}

ul.grid {
	& li { margin: 0 }
	& a,
	& img {
		width: 100%;
		height: 100%
	}
	& img { object-fit: cover }
}

pre,
code {
	overflow-x: auto;
	overflow-y: hidden;
}

pre {
	padding: 1rem;
	margin: 15px 0;
	border-left: 6px solid #bb86fc;
	margin-left: -6px;
	width: calc(100% + 6px);
	background-color: #27242c
}

a.btn {
	padding: 6px 25px;
	border: 1px solid var(--l60);
	&:hover {
		color: #000;
		background-color: var(--green)
	}
}

.pb { padding-bottom: 3rem }

@media screen and (min-width:1000px){
	.three {
		grid-gap: 2rem;
		grid-template-columns: repeat(auto-fit,minmax(30ch,1fr))
	}
	.container { width: calc(100vw - 150px) }
	#posts.three .content {
		max-width: 450px;
	}
}

@media screen and (max-width:1000px){
	.three li + li { margin-top: 1.5rem }
	.container { width: calc(100vw - 4rem) }
}

#logo {
	border: 2px solid var(--l87);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	z-index: 666
}

#menu {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	& a { padding: 15px }
}

@media screen and (min-width:620px){
	#openMenu { display: none }
	#menu {
		margin-top: 10px;
		position: relative;
		& ul {
			&.en { margin-left: 4px }
			&.fi { margin-left: 25px }
		}
		& li {
			vertical-align: top;
			display: inline-block
		}
		& li {
			&:nth-child(2) {
				margin-right: 40px
			}
			&:nth-child(3) {
				margin-left: 40px
			}
		}
	}
	#logo {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 8px;
		z-index: 666;
		& a { font-size: 1.8rem }
	}
	#head { margin-top: 4rem }
}

@media screen and (max-width:620px){
	#openMenu,
	#menu,
	#logo { position: fixed }
	#openMenu {
		background-color: var(--bg);
		top: 0;
		left: 0;
		z-index: 500;
		width: 100%;
		height: 60px;
		box-shadow: 0 2px 5px 0 rgba(0 0 0 / 75%);
		text-align: right;
		padding: 0 15px;
		border: 0;
		fill: var(--l87)
	}
	#menu {
		&:not(.block){ display: none }
		top: 60px;
		background-color: var(--bg);
		& ul { width: 100% }
		& li { display: block }
		& a { border-top: 1px solid rgba(255 255 255 / 20%) }
	}
	#logo {
		font-size: 1.2rem;
		width: 48px;
		height: 48px;
		left: 15px;
		top: 5px
	}
	#head { margin-top: 6rem }
}

@media screen and (min-width:400px){
	ul#gallery {
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit,minmax(30ch,1fr))
	}
}

@media screen and (max-width:399px){
	ul#gallery li + li { margin-top: 1rem }
}

@media screen and (max-width:300px){
	#logo { display: none }
}

#socialmedia {
	width: 80%;
	& a {
		width: 48px;
		height: 48px;
		fill: var(--l60);
		align-content: center;
		justify-content: center;
		&:hover {
			background-color: #000;
			fill: #fff
		}
	}
}

@media screen and (min-width:810px) and (min-height:600px){
	#socialmedia {
		height: 100vh;
		width: 48px;
		position: fixed;
		top: 0;
		left: 2px;
		z-index: 666;
		display: grid;
		align-content: center;
		justify-content: center
	}
}

@media screen and (max-width:809px), (max-height:599px){
	#socialmedia {
		position: relative;
		margin-top: 3rem;
		margin-bottom: .5px;
		& li {
			display: inline-block;
			vertical-align: top;
			margin:0 }
		& a {
			border-radius: 50%;
			margin: 3px;
		}
	}
}