:root{
	--v1: #1c2938;
	--v2: #15202b;
	--wt: rgba(255, 255, 255, 0.87);
	--wt6: rgba(255, 255, 255, 0.6);
	--wt4: rgba(255, 255, 255, 0.4);
	--wb: #fff;
	--red: rgb(64, 0, 0);
	--high: rgb(0, 128, 255);
	--neg: rgb(255, 255, 0);
	--black: #000;
	--blue: #03061b;
	--dark: rgba(23, 25, 35, 0.87);
	--light: rgba(255, 255, 255, 0.4);
	--link: rgb(126, 255, 225);
	--violet: rgb(46, 56, 88);
}

* { box-sizing: border-box; }

body {
	font-weight: 400;
	font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	margin: 0
}

h1,
h2 {
	font-family: Poppins;
	line-height: 1.2
}

.title { font-size: clamp(2rem, 3rem, 10vw) }

.violet { color: var(--violet) }

.blue { border-color: var(--v1) }

.white {
	border-color: var(--wt6);
	svg { fill: var(--wt) }
}

.blue,
.blue #postList article a,
.white #postList article a:hover {
	color: var(--v2)
}

.white,
.white #postList article a,
.blue #postList article a:hover {
	color: var(--wt)
}

.bg1,
.white #postList article,
.blue #postList article:hover { background-color: var(--v1) }

.bg2 { background-color: var(--v2) }

.bg3,
.blue #postList article,
.white #postList article:hover { background-color: var(--wt) }

.tc { text-align: center }

.noUnd a { text-decoration: none; }

.block { display: block }

.grid { display: grid }

.abs { position: absolute }

.mx {
	margin-left: auto;
	margin-right: auto
}

.ltr { direction: ltr }

.rtl { direction: rtl }

.wh { min-height: 100vh }

.cell {
	width: 100%;
	height: 100%;
	place-content: center;
}

#helpMe {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 666;
	min-width: 48px;
	min-height: 48px
}