:root{
	--v1: #1c2938;
	--v2: #15202b;
	--wt: rgba(255, 255, 255, 0.87);
	--wt6: rgba(255, 255, 255, 0.6);
	--wt4: rgba(255, 255, 255, 0.4);
	--blue: #24b5bc
}

* { box-sizing: border-box; }

body {
	font-weight: 400;
	font-family: Lato, Verdana, Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5
}

h1,
h2,
h3,
.bold { font-weight: 700 }

article a,
#card a { color: var(--blue) }

body,
section.about .title,
.m0,
p { margin: 0 }

h1,
h2,
h3,
.pops {
	font-family: Poppins;
	line-height: 1.2
}

h2.title { margin: 0 auto }

.title {
	font-size: clamp(1.8em, 2.8em, 7vw);
}

p {
	& + p { padding-top: 15px }
	& + h3 { margin: 20px 0 15px }
}

.blue {
	border-color: var(--v1);
	p a { color: var(--blue) }
	#socialmedia svg { fill: var(--v1) }
}

.white {
	border-color: var(--wt6);
	svg,
	#socialmedia svg { fill: var(--wt) }
}

.blue,
.blue #postList a,
.bg3 .btn,
#helpers h3 {
	color: var(--v2)
}

.white,
.white #postList a,
.bg2 .btn {
	color: var(--wt)
}

.bg1,
.white #postList a,
pre,
p code { background-color: var(--v1) }

.tc { text-align: center }

.noUnd a { text-decoration: none; }

.block,
img { display: block }

.grid { display: grid }

.abs { position: absolute }

.rel { position: relative }

.up { text-transform: uppercase }

.mx {
	margin-left: auto;
	margin-right: auto
}

.wh { min-height: 100vh }

.cell,
.w100,
img { width: 100% }

.cell,
.h100 { height: 100% }

.cell,
#menu { place-content: center }

.inl {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

#logo {
	padding: 1rem 1rem .5rem;
	line-height: 1;
	letter-spacing: 1px;
	font-size: 1.4rem;
}

#openMenu {
	z-index: 800;
	border: 0;
	&.open {
		svg {
			fill: var(--wt)
		}
	}
	&:not(.open){
		&.bg2 svg {
			fill: var(--blue);
		}
		&.bg3 svg {
			fill: var(--v1);
		}
	}
}

#logo,
#menu {
	top: 0;
	left: 0
}

#menu {
	position: fixed;
	z-index: 666;
	width: 100vw;
	height: 100vh;
	&.hidden { display: none }
	ul {
		list-style-type: none;
		padding: 0;
		width: 250px
	}
	a {
		padding: 1.5rem 2rem 1rem;
		border-radius: 30px;
		&:hover { color: var(--blue) }
	}
	li + li {
		border-top: 2px solid rgba(255,225,225,.1)
	}
}

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

.btn { line-height: 45px }

.btn,
aside .pub {
	border: 2px ridge var(--blue);
	height: 45px;
	padding: 0 1.5rem;
	&:hover {
		color: var(--v1);
		background-color: var(--blue)
	}
}

#hello {
	min-height: 100vh;
	section.about {
		p { margin: 15px 0 0 }
		.container {
			max-width: 1100px;
		}
		& + section { border-top: 2px solid rgba(255,255,255,.2) }
	}
	#politics.about {
		background-image: linear-gradient(to bottom right, #000, var(--v1));
		&.about {
			direction: rtl;
			.content {
				direction: ltr;
			}
		}
	}
}

.bg2,
.bg2 .list a,
.bg3 section#politics,
pre code { color: var(--wt) }

.bg2 {
	&,
	#menu {
		background-color: var(--v2);
	}
	#openMenu svg,
	#helpMe svg { fill: var(--wt) }
	.bor { border: 2px solid rgba(255,255,255,.2) }
}

.bg3 {
	section {
		&:not(#politics){
			color: var(--v1);
			background-color: var(--wt)
		}
		&:not(#politics) article,
		&:not(#politics) .about,
		&#politics {
			a { color: var(--blue) }
		}
	}
	.list a { color: var(--v2) }
	.bor { border: 2px solid rgba(21,32,43,.2) }
}

#postList {
	h3 {
		font-size: 1.6em;
		padding-bottom: 10px
	}
	.bor {
		padding: 1.5rem
	}
	.article { border-radius: 20px }
}

.list {
	grid-template-columns: repeat(auto-fill, minmax(20em,  1fr));
	grid-gap: 2rem;
	max-width: 1200px;
	h3 { padding-bottom: 10px }
	.content.grid {
		grid-template-columns: 80px 1fr;
		grid-gap: 1rem
	}
	.pub {
		height: 80px;
		.day { font-size: 1.6rem }
	}
}

article {
	#content {
		max-width: 750px;
		h3 { font-size: 1.4em }
		h2,
		h3 { margin: 1.5rem 0 15px }
	}
	ul {
		padding-left: 18px;
		li + li { margin-top: 10px }
	}
	&.mb { margin-bottom: 3rem }
}

#now {
	&.container {
		max-width: 750px;
	}
}

#card {
	max-width: 1000px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
	.content {
		margin-bottom: 1rem;
	}
	h1 { margin: 0 0 15px }
}

#about,
#politics {
	img { border-radius: 50% }
}

#about {
	p { font-size: 1.2em }
	.container {
		max-width: 650px;
	}
}

#socialmedia {
	grid-template-columns: repeat(5, 48px);
	margin: 0;
	padding: 0;
	li {
		width: 48px;
		height: 48px;
		a {
			place-content: center;
		}
	}
}

#gallery {
	img {
		object-fit: cover;
	}
}

button,
#darkmode .slider { cursor: pointer }

#darkmode {
	width: 60px;
	height: 34px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
		&:focus + .slider {
			box-shadow: 0 0 1px var(--blue);
		}
		&:checked {
			& + .slider {
				background-color: var(--blue);
				&:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
			}
		}
	}
	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		&:before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
		&.round {
			border-radius: 34px;
			&:before {
				border-radius: 50%;
			}
		}
	}
}

#helpMe {
	min-width: 48px;
	min-height: 48px;
	&,
	button { font-size: 16px }
	button {
		background-color: transparent;
		border: 0
	}
}

#helpers {
	background-color: var(--wt);
	border: 1px solid var(--v1);
	top: 0;
	right: 55px;
	width: 190px;
	h3 {
		font-size: 18px;
		padding: 10px 0 7px;
		border-bottom: 1px solid var(--v1)
	}
	.content { padding: 1rem }
}

#darkmode,
#helpMe { z-index: 100 }

.pt,
.pad { padding-top: 3rem }

.pad {
	padding-bottom: 3rem
}

pre {
	padding: 1rem;
	margin: 15px 0;
	border-left: 6px solid #bb86fc;
	margin-left: -6px;
	width: calc(100% + 6px);
	overflow: hidden;
	border-radius: 10px;
}
p code {
	padding: 0 5px;
	border-radius: 5px;
}

@media screen and (min-height:890px){
	#hello section.about {
		display: grid;
		min-height: 50vh;
	}
}

@media screen and (min-width: 1000px) {
	section.about {
		.container {
			grid-template-columns: 350px 1fr;
			grid-gap: 3rem;
			height: 100%
		}
	}
	#card {
		padding: 2rem 4rem 2rem 3rem;
		grid-template-columns: 250px 1fr;
		grid-gap: 3rem;
		border-radius: 200px;
		img { border-radius: 50% }
	}
}

@media screen and (max-width: 1000px){
	section.about {
		img {
			width: 250px;
			height: 250px
		}
		picture { margin-bottom: 2rem }
		.title { text-align: center }
	}
	#card {
		text-align: center;
		padding: 2rem;
		border-radius: 20px;
		picture { display: none }
		#socialmedia {
			max-width: 240px;
			margin-left: auto;
			margin-right: auto
		}
	}
}

@media screen and (max-width: 1000px) and (min-width: 680px) {
	#card { max-width: 550px }
}

@media screen and (max-width:860px){
	article,
	#card { margin-top: 1rem }
}

@media screen and (min-width: 750px){
	#logo,
	#openMenu,
	#darkmode,
	#helpMe { position: absolute }
	#openMenu {
		width: 54px;
		height: 48px;
		top: 1.5rem;
		right: 1.5rem;
		background-color: transparent;
	}
	#darkmode {
		top: 80px;
		right: 1.2rem
	}
	#helpMe {
		right: 23px;
		top: 128px;
	}
	#logo {
		background-color: var(--v1);
		border-bottom-right-radius: 15px;
		border-width: 0 2px 2px 0;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.1);
	}
	#postList {
		grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
	}
}

@media screen and (max-width: 750px) {
	#logo,
	#openMenu,
	#darkmode,
	#helpMe {
		position: fixed;
		z-index: 820
	}
	#logo,
	#openMenu { height: 58px }
	#openMenu {
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		padding-left: 1.5rem;
		padding-right: 1rem;
		background-color: var(--v1);
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		svg { fill: var(--wt) }
	}
	#darkmode {
		top: 12px;
		right: 135px;
	}
	#helpMe {
		right: 69px;
		top: 4px
	}
	#hello { padding-top: 1.5rem }
}

@media screen and (min-width: 400px) {
	#postList {
		.content {
			grid-template-columns: 70px 1fr;
			grid-gap: 1rem;
		}
		aside {
			grid-template-rows: 70px 48px 1fr;
			grid-gap: 0.5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	#posts {
		text-align: center;
	}
	#posts .pub {
		padding: 5px 0;
		margin-bottom: 15px;
	}
}