:root{
	--v1: #1c2938;
	--v2: #15202b;
	--wt: rgba(255, 255, 255, 0.87);
	--wt6: rgba(255, 255, 255, 0.6);
	--wt4: rgba(255, 255, 255, 0.4);
	--blue: #2196f3
}

* { box-sizing: border-box; }

body {
	font-weight: 400;
	font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5
}

body,
.title,
.m0 { margin: 0 }

h1,
h2 {
	font-family: Poppins;
	line-height: 1.2
}

.title { font-size: clamp(1.8rem, 2.8rem, 10vw) }

.pad { padding: 3rem 0 }

p { margin-bottom: 0 }

p + p { margin-top: 15px }

.violet { color: var(--violet) }

.blue {
	border-color: var(--v1);
	a { color: #016064 }
}

.white {
	border-color: var(--wt6);
	svg { fill: var(--wt) }
	a { color: var(--link) }
}

.blue,
.blue #postList article a,
.white #postList article a:hover {
	color: var(--v2)
}

.white,
.white #postList article a,
.blue #postList article a:hover {
	color: var(--wt)
}

.bg1,
.white #postList article,
.blue #postList article:hover { background-color: var(--v1) }

.bg2 { background-color: var(--v2) }

.bg3,
.blue #postList article,
.white #postList article:hover { background-color: var(--wt) }

.tc { text-align: center }

.noUnd a { text-decoration: none; }

.block,
img { display: block }

.grid { display: grid }

.abs { position: absolute }

.mx {
	margin-left: auto;
	margin-right: auto
}

.ltr { direction: ltr }

.rtl { direction: rtl }

.wh { min-height: 100vh }

.cell,
img { width: 100% }

.cell {
	height: 100%;
	place-content: center;
}

.inl {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

#front {
	section {
		&.about {
			p { margin: 15px 0 0 }
			.container {
				max-width: 1100px;
			}
		}
		&:nth-child(even) {
			background-image: linear-gradient(to bottom right, #000, var(--v1));
			&.about {
				direction: rtl;
				.content {
					direction: ltr;
				}
				&,
				a {
					color: var(--wt);
					border-color: var(--wt);
				}
			}
		}
		&:nth-child(odd) a:not(:hover) {
			border-color: var(--v1);
		}
	}
	&,
	section:nth-child(odd) a,
	section:nth-child(odd) h1,
	section:nth-child(odd) h2 {
		color: var(--v2);
	}
	.green {
		color: #319795;
	}
}

#skills .skill,
#hello section:nth-child(odd) {
	background-color: var(--wb);
}

#skills {
	.skill {
		padding: 1.5rem;
		border-radius: 5%;
	}
	.what {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #bbb;
		p {
			font-size: 15px;
			&:not(.green) {
				color: var(--v2);
			}
		}
	}
	h2 {
		font-size: clamp(1.6em, 2.4em, 10vw);
		margin: 0
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
}

#cols {
	grid-template-columns: 1fr 300px;
	.container {
		max-width: 700px;
	}
	#header {
		max-width: 600px;
		h1 {
			font-size: clamp(2rem, 2.8rem, 10vw)
		}
	}
	article {
		ul {
			padding-left: 18px;
			li + li { margin-top: 10px }
		}
	}
}

#about,
#politics {
	img { border-radius: 50% }
}

#posts {
	h1 { margin-bottom: 3rem }
	article {
		border: 1px solid;
		& + article {
			margin-top: 1rem;
		}
	}
	a {
		padding: 1.5rem;
	}
	h2 {
		margin: 0 0 15px;
	}
	p {
		margin: 0;
	}
}

#about .container {
	max-width: 650px;
}

#tutorials {
	grid-gap: 1.5rem;
	h2 {
		font-size: 1.2em;
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 15px;
		color: var(--wt);
	}
	.day {
		font-size: 20px;
		line-height: 1.3;
	}
	.month {
		font-size: 16px;
	}
	.container {
		max-width: 1250px;
	}
	li {
		display: block;
		&:hover {
			.pub {
				color: var(--blue);
				background-color: var(--wb);
			}
			h2 {
				color: var(--link);
			}
		}
	}
	.pub {
		width: 70px;
		font-weight: 700;
		background-color: var(--violet);
		border: 1px ridge var(--wt4);
	}
	.pub,
	.summary {
		color: var(--wt6);
	}
}

#more {
	margin-bottom: 1.5rem;
	a {
		border-radius: 40px;
		padding: 15px 45px;
		text-transform: uppercase;
		border: 1px solid #000;
		span {
			margin-top: 5px;
		}
	}
}

#helpMe {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 666;
	min-width: 48px;
	min-height: 48px
}

@media screen and (min-width: 1000px) {
	#hello {
		.about .container {
			grid-template-columns: 350px 1fr;
			grid-gap: 3rem;
			height: 100%
		}
	}
	#cols {
		#content {
			padding: 3rem;
		}
	}
}

@media screen and (min-width: 680.1px) {
	#skills {
		.container {
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			max-width: 800px;
		}
	}
}

@media screen and (max-width: 680px) {
	#skills {
		.skill {
			max-width: 384px;
			& + .skill { margin-top: 1.5rem }
		}
	}
}

@media screen and (min-width: 600px) {
	#tutorials {
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	}
}

@media screen and (min-width: 400px) {
	#tutorials {
		.content {
			grid-template-columns: 70px 1fr;
			grid-gap: 1rem;
		}
		aside {
			grid-template-rows: 70px 48px 1fr;
			grid-gap: 0.5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	#posts {
		text-align: center;
	}
	#posts .pub {
		padding: 5px 0;
		margin-bottom: 15px;
	}
}